table {
    width: 396px; /* 140px * 5 column + 16px scrollbar width */
    border-spacing: 0;
}

tbody, thead tr {
    display: block;
}

tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    width: 300px;
}

thead th:last-child {
    width: 316px; /* 140px + 16px scrollbar width */
    text-align: left;
}